// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.card {
  border-radius: 0.25rem !important;
}

.br-div {
  border-radius: 0.25rem !important;
}

.card-header {
  border-top-right-radius: 0.25rem !important;
  border-top-left-radius: 0.25rem !important;
}

.card-body {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.card-body-mobile {
  padding: .5rem;
}

.card-header {
  padding: 0.75rem .2rem !important;
}

.collapse.show {
  border: 1px solid $border-color;
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.card-subtitle {
  margin-top: 0 !important;
}

.table {
  margin-bottom: 0 !important;
}

.border-blue {
  border-color: $light-blue !important;
}

.form-check-mobile {
  position: relative;
  display: block;
  margin-top: -15px;
}

.text-small {
  font-size: .75rem;
}

.margin-left-55 {
  margin-left: 55px;
}

.margin-left-10 {
  margin-left: -10px;
}

.margin-left-2 {
  margin-left: -2px;
}

.margin-right-10 {
  margin-right: -10px;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-tb-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.margin-m-l-lang {
  margin-left: -85px !important;
}

.row-no-margin {
  display: flex;
  flex-wrap: wrap;
}

.btn-dropdown-mobile {
  border-bottom-left-radius: 0.25rem !important;
  border-top-left-radius: 0.25rem !important;
}

.br-tb-0 {
  border-bottom-left-radius: 0rem !important;
  border-top-left-radius: 0rem !important;
}

.dropdown-item {
  padding: 0.1rem 0.5rem !important;
}

.dropdown-divider {
  margin: 0.3rem 0 !important;
}

.text-wrap {
  word-break: break-word;
  white-space: normal;
  height: 100%;
}

.text-wrap-keep-all {
  word-break: keep-all;
  white-space: normal;
  height: 100%;
}

.bg-grey {
  background-color: $gray-200 !important;
}

.bg-white {
  background-color: white !important;
}

.c-grey {
  color: $gray-500 !important;
}

.m-h-56 {
  min-height: 56px !important;
}

.btn-link:hover {
  color: $blue !important;
}

.mt-1_9 {
  margin-top: 1.9rem !important;
}

.mt-2_2 {
  margin-top: 2.2rem !important;
}

.mb--1 {
  margin-bottom: -1rem !important;
}

app-commercial-category-promotional-activity > ngb-accordion > div {
  border: 1px solid #17a2b8 !important;
}

app-commercial-category-activity > ngb-accordion > div {
  border: 1px solid #17a2b8 !important;
}